# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.env
venv/
ENV/
env/
.env.local
.env.development.local
.env.test.local
.env.production.local

# Node/React
node_modules/
/frontend/node_modules
/frontend/build
/frontend/.env
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp/
.pnp.js
coverage/
.next/
out/
build/
.DS_Store
*.pem
.vercel

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.project
.classpath
.settings/
*.sublime-workspace
*.sublime-project

# Database
*.sqlite3
*.db

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System Files
.DS_Store
Thumbs.db

# Project specific
/emotion-recognition/build
/emotion-recognition/node_modules
/emotion-recognition/.env
/emotion-recognition/.env.local
/emotion-recognition/.env.development.local
/emotion-recognition/.env.test.local
/emotion-recognition/.env.production.local
/emotion-recognition/npm-debug.log*
/emotion-recognition/yarn-debug.log*
/emotion-recognition/yarn-error.log*
/emotion-recognition/.pnp
/emotion-recognition/.pnp.js
/emotion-recognition/coverage
/emotion-recognition/.next
/emotion-recognition/out
/emotion-recognition/build
/emotion-recognition/.DS_Store
/emotion-recognition/*.pem
/emotion-recognition/.vercel

# Temporary files
*.tmp
*.temp
.cache/